<md-content class="create-employee" layout-padding>
  <form name="createEmployeeForm"
        ng-submit="createEmployeeForm.$valid && $ctrl.submitForm()">

    <form-select
        form="createEmployeeForm"
        name="'department'"
        model="$ctrl.formModel.department"
        required="true"
        label="'Department'"
        options="$ctrl.departments"
    ></form-select>

    <form-input
        form="createEmployeeForm"
        name="'fullName'"
        max-length="30"
        model="$ctrl.formModel.fullName"
        required="true"
        label="'Full name'"
    ></form-input>

    <form-textarea
        form="createEmployeeForm"
        name="'notes'"
        max-length="300"
        model="$ctrl.formModel.notes"
        required="false"
        label="'Notes'"
    ></form-textarea>

    <div class="create-employee_actions">
      <md-button type="submit" class="md-button md-raised md-primary">
        Save
      </md-button>

      <md-button type="submit" class="md-button md-raised" ui-sref="employees">
        Cancel
      </md-button>
    </div>

  </form>
</md-content>